<section class="post">
    <a href="/post/{{id}}"><h3 class="post-title">{{title}}</h3></a>
    <div class="post-details">
        <p class="post-body">{{post_text}}</p>
        <p class="post-date">{{date_created}}</p>
        <p class="post-author">{{username}}</p>
    </div>
    <section class="comments">
        <h3>Comments</h3>
        {{#each comments}}
        {{> comment-details}}
        {{/each}}
    </section>
</section>