<section class="post">
    <a href="/api/post/{{id}}"><h3 class="post-title">{{title}}</h3></a>
    <div class="post-details">
        <p class="post-author">{{user.id}}</p>
        <p class="post-text">{{post_text}}</p>
        <p class="post-date">Date:{{format_date date_created}}</p>
    </div>
    <section class="comments">
        <h3>Comments</h3>
        {{#each comments}}
        {{> comment-details}}
        {{/each}}
    </section>
</section>